header {
    background-color:rgb(14, 14, 14);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.context {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message {
    color: rgb(235, 235, 235);
}