main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.rectangle {
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 30%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image {
    display: flex;
    justify-content: center;
}

/* Media queries para telas menores */
@media (max-width: 1200px) {
    .rectangle {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .rectangle {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .rectangle {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .rectangle {
        width: 90%;
        padding: 20px;
        gap: 20px;
    }
    
    .login-form {
        gap: 10px;
    }
}