<div class="table-responsive bg-white shadow rounded p-2 my-3">
    <table class="table table-striped my-4 align-middle">
        <thead>
            <tr>
                <th>Data</th>
                <th>Corretor(a)</th>
                <th>Leads Recebidos</th>
                <th>Ligações</th>
                <th>Espontâneo</th>
                <th>Captação</th>
                <th>Visitas</th>
                <th>Negociação</th>
                <th>Proposta</th>
                <th>Venda</th>
                <th>Agendamentos</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (item of metrics; track $index) {
                <tr>
                    <td>{{ item.data | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.corretor.nome }}</td>
                    <td>{{ item.leads_recebidos }}</td>
                    <td>{{ item.ligacoes }}</td>
                    <td>{{ item.espontaneo }}</td>
                    <td>{{ item.captacoes }}</td>
                    <td>{{ item.visitas }}</td>
                    <td>{{ item.negociacoes }}</td>
                    <td>{{ item.propostas }}</td>
                    <td>{{ item.vendas }}</td>
                    <td>{{ item.agendamentos }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>